
  body{
    overflow-x: hidden;
    background-color: #2e304b;

  }
  .firsthalf{
    background-color: #2e304b;
    width: 100%;
    height: 100vh;

  }
  .secondhalf{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
  
    overflow-x: hidden;
    background-color: #fff;
  }
  .texts{

    margin-left: 50px;
    margin-top: 50px;
    width: 100%;
  }
  .menu1{
    border-color: #fd8e8e;
    color: #fd8e8e;
    border-radius: 30px;


  }
  .menu1:hover{
    border-color: #fd8e8e;
    background-color: #fd8e8e;
    color: #2e304b;

  }
  .headp{
    font-size: 50px;
    margin-top: 30px;
    color: #fd8e8e;

    font-family:  'Roboto', sans-serif;
  }
  .normalp{
    font-size: 20px;
    color: #fd8e8e;
  }
  .mybtn{
    border: 2px solid #fd8e8e;
    background-color: #2e304b;
    color: #fd8e8e;

    font-size: 16px;
    cursor: pointer;
  }
  .forhov{
    border-color: #fd8e8e;
    color: #fd8e8e;
    border-radius: 30px;
    width: 212px;
    font-weight: bolder;
    padding: 14px 28px;

  }
  .forhov:hover{
    border-color: #fd8e8e;
    background-color: #fd8e8e;
    color: #2e304b;
  }
  .links{
    font-size: 15px;
    font-weight: bold;
    color: darkgrey;
    margin-top: 50px;
  }
.a{
  color: white;
  font-weight: bold;
  text-decoration: underline
}
.a:hover{
  color: #fd8e8e;
  text-decoration: none;

}
.myphoto{
  width: 105%;
  height: 100vh;
}
.aboutme{
  margin-top: 80px;
  margin-left: 30px;
}
.abh{
  font-size: 40px;
  font-weight: bold;
}
.abp{
  font-size: 30px;
}
.abh2{
  font-size: 25px;
  font-weight: bold;
}
.education{
  background-color: #fd8e8e;
  width: 105%;
  margin-top: 50px;
  height: 100vh;
  color: #2e304b;
}
.edutexts{
  margin-top: 50px;
  margin-left: 30px;
  position: absolute;
}
.maincolor{
  color: #2e304b;
}
.plustwo{
  margin-top: 100px;
}
.projects{
  height: 140vh;
}
.contacts{
  height: 100vh;
  width: 105%;
  background-color: gainsboro;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;

    padding-right: 0;
    padding-left: 0;
  
}
.example::-webkit-scrollbar {
  display: none;
}